body, h1, h2, p, div, img, input, button, form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right,rgb(214, 123, 66) ,rgb(74, 25, 112) );
}

.container {
    max-width: 600px;
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 100 10px 10px rgba(0, 0, 0, 0.1);
}

.title h1 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

.vodafonecash {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    display: block;
}

.words {
    margin-top: 10px;
}

.words h2 {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 10px;
}

.words p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.input-field {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.submit-button:hover {
    background-color: #0056b3;
}
